.body {
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1, 5;
    background-color: rgb(223, 235, 222);
}

.header {
    text-align: center;
    font-size: 50px;
}

.white {
    background-color: white;
}
