.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.container {
    overflow-x: auto;
}

.table__caption {
    caption-side: bottom;
    text-align: left;
}

.table__Header {
    background-color: rgb(65, 158, 81);
}

.table__Cell {
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    vertical-align: center;

}

.table__Row {
    background-color: azure;
}

.table__Row:hover {
    background-color: rgb(228, 224, 224);
}